h1{
    color: blueviolet;
    background-color: black;
border: 2px solid white;
border-radius: 8px;
width: 100px;
}
h2{color: cyan;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    width: 400;
}
p{color: orangered;
background-color: pink;}
ul{color: red;
background-color: pink;}
body{background-color: black;}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} 

